{
  "apiVersion": "v1",
  "kind": "PersistentVolume",
  "metadata": {
    "name": "{{ jenkins_pv_name }}"
  },
  "spec": {
    "capacity": {
        "storage": "1Gi"
        },
    "accessModes": [ "ReadWriteOnce","ReadWriteMany" ],
    "nfs": {
        "path": "{{ jenkins_pv_path }}",
        "server": "{{ jenkins_pv_host }}"
    }
  }
}
